body{
    background-color: rgb(52, 48, 48);
}
.header{
    display: flex;
    background-color: black;
    border: 15px solid rgb(87, 220,47);
    border-radius: 15px;
    height: 130px;
    position: fixed;
    z-index: 999;
}
.header img{
    border-right: 15px solid rgb(87, 220, 47);
    
}
.one{
    display: flex;
    color:rgb(87, 220, 47);
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(87, 220, 47);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 321px;
    text-decoration: none;
    width: 200px;
    transition: background-color 1s;
    margin-left: 430px;
}
.contact:hover{
    background-color:rgb(87, 220, 47);
    color: black;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(87, 220, 47);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 250px;
    transition: background-color 1s;
}
.download:hover{
    background-color:rgb(87, 220, 47);
    color: black;
}
.amongus{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(87, 220, 47);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 250px;
    transition: background-color 1s;
}
.amongus:hover{
    background-color:rgb(87, 220, 47);
    color: black;
}
.swiper-slide img{
    width: 50%;
    height: 50%;
}
h1{
    color:rgb(87, 220, 47);
}
.swiper-slide{
    margin-left: 80px;
}
.margin img{
    margin-top: 20px;
}
.demo{
    display: flex;
    text-align:center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
  } 
  .rainbow{
          animation: rainbow 2.5s linear;
          animation-iteration-count: infinite;
  }
  .container a{
    background-color:rgb(87, 220, 47);
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 15px;
    height: 70px;
    transition: color 1s;
    transition: background-color 1s;
    margin-top: 40px;
}
.container a:hover{
    background-color:rgb(121, 120, 120);
    color:rgb(87, 220, 47);
}
.us h1{
    text-align: center;
    margin-top: 70px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.container h3{
    margin-top: 10px;
    color: white;
}
.about h1{
    text-align: center;
    margin-top: 70px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.row a:hover{
    box-shadow: red 0px 0px 14px 10px;
}
.about{
    height: 50vh;
}
.box{
    height: 50vh;
}
.effect{
    height: 100px;
    width: 900px;
    background-color:rgb(87, 220, 47);
    display: flex;
    margin-bottom: 1000px;
    transition: 1s;
    border-radius: 15px;
    border: 5px solid red;
    box-shadow: red 0px 0px 14px 10px;
    margin-left: 300px;
}
.box:hover .effect{
    background-color:rgb(87, 220, 47);
    transform: scale(1.6)
    translateY(30px)
    
}
  @keyframes rainbow{
          100%,0%{
              color: rgb(255,0,0);
          }
          8%{
              color: rgb(255,127,0);
          }
          16%{
              color: rgb(255,255,0);
          }
          25%{
              color: rgb(127,255,0);
          }
          33%{
              color: rgb(0,255,0);
          }
          41%{
              color: rgb(0,255,127);
          }
          50%{
              color: rgb(0,255,255);
          }
          58%{
              color: rgb(0,127,255);
          }
          66%{
              color: rgb(0,0,255);
          }
          75%{
              color: rgb(127,0,255);
          }
          83%{
              color: rgb(255,0,255);
          }
          91%{
              color: rgb(255,0,127);
          }
  }
  .mySwiper{
    border-bottom: 10px solid rgb(87,220,27);
                       
  }