.rainbow{
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}
h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}
body{
    background-color: rgb(52, 48, 48);
}
.in1 a{
    display: flex;
    color: rgb(255, 0, 0);
    font-size: 40px;
    box-shadow: 0pc 0pc 14px 14px red;
    border-radius: 15px;
    text-decoration: none;
    background-color: rgb(78, 6, 6);
}
.button{
    border-radius: 20px;
}
.in2 a{
    display: flex;
    color: rgb(0, 238, 255);
    font-size: 40px;
    box-shadow:0px 0px 14px 14px rgb(0, 225, 255);
    border-radius: 15px;
    background-color: rgb(1, 110, 150);
    text-decoration: none;
}
img{
    width: 250px;
}
.in2 img{
    background-color: rgb(0, 183, 255);
}
.button{
    border-radius: 20px;
}
@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}